#result-name {
  margin: 15px 0px 20px 0px;
}

#result-container {
    padding-bottom: 15px;
    margin-bottom: 30px;
}

.result-box {
  padding: 10 0px 10px 0px;
}

.result-column {
  padding: 10px;
}

.special-result-column {
  padding: 20px 0px 10px 0px;
}

.pushed-bar {
  margin-top: 16px;
}

.column-name-box {
    border-bottom: solid 1px;
}

.result-box:nth-child(even) {
  background-color: #cccccc;
}

.bold-name {
  font-weight: bold;
}

.low-index {
  color: #00c06a;
}

.low-index ::ng-deep .mat-progress-bar-fill::after {
  background-color: #00c06a;
}

.moderate-index {
  color: #ff7b00;
}

.moderate-index ::ng-deep .mat-progress-bar-fill::after {
  background-color: #ff7b00;
}

.high-index {
  color: #e71837;
}

.high-index ::ng-deep .mat-progress-bar-fill::after {
  background-color: #e71837;
}

::ng-deep .mat-progress-bar-buffer {
  background: #616161;
}